{% extends 'store/base.html' %}

{% block title %}Payment{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Payment</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="totalPrice">Total Price:</label>
            <input type="text" id="totalPrice" class="form-control" value="${{ total_price|floatformat:2 }}" readonly>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Pay</button>
    </form>
</div>
{% endblock %}
